---
// 301 redirect to the main Brampton waterproofing page
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/basement-waterproofing-brampton" />
    <link rel="canonical" href="https://dryspacewaterproofing.ca/basement-waterproofing-brampton" />
    <title>Redirecting to Basement Waterproofing Brampton</title>
  </head>
  <body>
    <p>Redirecting to <a href="/basement-waterproofing-brampton">Basement Waterproofing Brampton</a>...</p>
  </body>
</html>
